header
	.container-fluid
		// Barre de navigation
		nav#navbar.row
			.col-xs-2.text-center
				a(href='/')
					img#logo(src='/images/wcs.png', alt='Logo Wild Code School')
				
			ul#menu.list-inline.col-xs-8.text-center
				li.list-inline-item
					- if (page == 'Mon compte')
						a.navactive(href='/main/moncompte') Mon Compte
					- else
						a(href='/main/moncompte') Mon Compte
				li.list-inline-item
					- if (page =='menu')
						a.navactive(href='/main') Home
					- else
						a(href='/main') Home
				li.list-inline-item
					- if (page =='')
						a.navactive(href='/main/carte') Carte
					- else
						a(href='/main/carte') Carte
				li.list-inline-item
					- if (page == '')
						a.navactive(href='/calendar') Calendrier
					- else
						a(href='/main/calendar') Calendrier
			a(href="/login" class="logout btn btn-logout") Déconnexion

		// Burger menu
		#burger_icon.text-center
			i.fa.fa-bars(aria-hidden='true')
		.menuburger
			li
				a.close(href='#') x
			ul#burgernav
				li
					p.text-center
						a.navactive(href='/') Accueil
				li
					p.text-center
						a(href='/menu') Notre menu
				li
					p.text-center
						a(href='lieux-hor') Nous trouver
				li
					p.text-center
						a(href='/contact') Nous contacter
			ul
				li#links_burger
					a(href='/')
						i.fa.fa-map-marker(aria-hidden='true')
					a(href='/')
						i.fa.fa-instagram(aria-hidden='true')
					a(href='/')
						i.fa.fa-facebook-official(aria-hidden='true')